@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,300;0,400;1,300;1,700&display=swap');
:root{
     --white: hsl(0, 0%, 100%);
     --dark-blue: hsl(233, 26%, 24%);
     --lime-green:  hsl(136, 65%, 51%);
     --bright-cyan: hsl(192, 70%, 51%);
     --gray-blue:  hsl(233, 8%, 62%);
     --light-gray-blue:hsl(220, 16%, 96%);
     --very-light-gray:hsl(220, 16%, 96%);
     --margin-distance: 5rem;
     --body-padding:1rem 2rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    height: 95vh;
    font-family: 'Public Sans', sans-serif;
}